body{
    padding: 0;
    margin: 0;
    background-color: rgba(243, 235, 235, 0.1);
    font-family: 'Titillium Web', sans-serif;
}

.container{
    padding:10px;
    width:400px;
    margin:0 auto;
}

/* ------------ header ------------ */
.header{
    width: 400px;
    height:150px;
    background-image: url('../img/bg1.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
    
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 25px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(60deg);
}
#date{
    position: absolute;
    bottom: 50px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ content ------------ */
.content{
    width:400px;
    height: 380px;
    max-height:400px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
    color: #6eb200;
}
.fa-check-square{
    color:#6eb200;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    background-color: #FFF;
    max-width:285px;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 380px;
    height:40px;
    background-color: #FFF;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: #4162f6;
}

.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding-left:10px;
}
.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

.clearfix {
    clear: both;
}

.container-d{
    width: 960px;
    margin: 0 auto;
}
.menubar{
    width: 100%;
    height: 50px;
    color: white;
    background:#333;
    box-shadow: 0 0 20px rgb(8, 8, 8);
}
.menubar .logo{
    float: left;
}

.menubar h1{
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding-top: 10px;
}
.menubar ul.menu {
    list-style: none;
    float: right;
}

.menubar ul.menu li {
    float: left;
    margin-right: 20px;
}

.menubar ul.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.5s ease;
}

.menubar ul.menu li a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 0px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.add-to-do input[type = "text"]:hover{
    border: 2px solid #4162f6;
}


























